
body {
  background: #13294b;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  list-style: none;
}

.top-header {
  width: 100%;
  height: 60px;
  background: #E84A27;
  display: flex;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 2px 10px #333;
}

.top-nav a {
  margin-left: 20px;
  color: #F9F9F9;
  text-decoration: none;
  font-weight: 400;
}

.container {
  max-width: none;
}

.row {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.wireless {
  background: #ce3727; 
  height: 400px;
  float:left;
  width: 30%;
  display: flex;
  margin-right: 5%;
  
}

.wireless:hover {
  background: #F2EBD9;
}

.compass {
  background: #f7dc2c;
  height: 400px;
  width: 30%;
  display: flex;
}

.compass:hover {
  background: #F2EBD9;
}

.moodle {
  background: #baed68;
  float:right;
  height: 400px;
  width: 30%;
  margin-left: 5%;
  display: flex; 
}

.moodle:hover {
  background: #F2EBD9;
}

.credit {
  background: #c1713c;
  height: 200px;
  display: flex;
}

.credit:hover {
  background: #F2EBD9;
}

.input-group {
  margin-left: 80px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-left: 80px;
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 800px) {
    #adv-search {
        width: 800px;
        margin-left: 80px;
    }
    .dropdown.dropdown-lg {
        position: relative;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 725px;
        margin-left: 80px;
    }
}

.advisor-list {
  list-style:  none;
  margin-left: 80px;
  min-height:  250px;
  padding:     10px;
  background:  #F2EBD9;
}

.advisor {
  display: flex;
  align-items: center;
  color: #624630;
  border-bottom: 1px solid white;
  margin: 10px;
  padding: 15px;
}

.advisor:hover {
  background: rgba(255, 255, 255, 0.8);
}

.advisor:last-child {
  border: none;
}

.advisor img {
  border: 1px solid #FFFFFF;
  height: 80px;
  width:  80px;
}

.advisor div:first-of-type {
  flex: 1;
  margin-left:  10px;
  margin-right: 10px;
}

.advisor-name {
  color: #624630;
  font-weight:     400;
  text-decoration: none;
}

.advisor-name:hover {
  text-decoration: underline;
}

.advisor-status {
  color: #624630;
  font-weight:     400;
  text-decoration: none;
}

.btn-circle.btn-sm {
  width: 25px;
  height: 25px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
  float: right;
}

.btn-danger {
  margin-right: 55px;
}

.btn-warning {
  margin-right: 55px;
}

.btn-success {
  margin-right: 13px;
}

footer {
  background: #434343;
  font-size:  0.8em;
  height:     250px;
  position: relative;
}

footer p {
  text-align: center;
}

footer p.title {
  font-size: 1.2em;
  padding:   15px;
}

footer .about-us {
  width: 800px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  display: flex;
  align-items: center;
  padding: 20px;
}

footer ul li {
   align-items: top;
   flex: 1;
}

