{% extends "layout.html" %}
{% block content %}
<div class="row">
        <div class="wireless">
          <h3>Wireless</h3>
          </br></br>
          <ol>
            <li>You have not logged into Wireless for 14 days</li>
            <li>Last logged in: 2018-07-25 5:00:48 PM</li>
          </ol>
        
        </div>
        <div class="compass">
          <h3>Compass</h3>
          </br></br>
          <ol>
            <li>You have not logged into Compass for 8 days</li>
            <li>Last logged in: 2018-07-31 3:02:23 PM</li>
          </ol>
        </div>
        <div class="moodle">
          <h3>Moodle</h3>
          </br></br>
          <ol>
            <li>You have not logged into Moodle for 3 days</li>
            <li>Last logged in: 2018-08-05 2:03:10 AM</li>
          </ol>
        </div>
</div>
<div class="row">
        <div class="col-md-12 degree-audit">
          <h3>Degree Audit</h3>
          </br></br>
        <ol>
            <li>Your degree: Computer Science</li>
            <li>You have completed 24 of 28 core credits</li>
            <li>You have completed 6 of 12 technical electives</li>
            <li>You have completed 4 of 8 advanced electives</li>
            <li>You have completed 34 of 48 total credits</li>
          </ol>
        </div>

</div>
{% endblock content %}

